* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

header {
  padding: 20px;
  text-align: center;
}

nav a {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  color: white;
  transition: 0.3s;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  &:hover {
    background-color: #4caf50;
    color: white;
  }
  &:active {
    background-color: #45a049;
    color: white;
    transform: translateY(2px);
  }
  &:focus {
    outline: none;
  }
  &:visited {
    color: white;
  }
  &:disabled {
    color: gray;
    cursor: not-allowed;
  }
}

li {
  display: inline;
  margin: 10px;
  transition: 0.3s;
}

h1 {
  text-align: center;
  margin: 20px;
  color: white;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: underline;
  text-decoration-color: #4caf50;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  text-decoration-line: underline;
  animation: underline 2s infinite;
}

h2 {
  text-align: center;
  margin: 20px;
  color: white;
}

table {
  border: 1px solid black;
  width: 80%;
  text-align: center;
  font-weight: bold;
  margin: auto;
  background-color: #f2f2f2;
  color: black;
  border-collapse: collapse;
  animation: tableAnimation 2s infinite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

form {
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid black;
  width: 50%;
  margin: auto;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
}

.button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: #45a049;
    color: white;
  }
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;

  padding-left: 5px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: 0.3s;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: #45a049;
    color: white;
  }
}
